body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#header-section {
  height: 80vh;
  background-color: #5b5b5b;
  background-image: url("../images/school.JPG");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
  /* filter: brightness(50%); */
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 1.4rem;
  font-weight: 700;
}
h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
Button {
  font-size: 1.4rem;
  font-weight: 700;
}

.navbar-brand {
  color: #fff;
}
.nav-link {
  color: #fff;
}
.header-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 250px;
  color: whitesmoke;
}

.heading-space-between {
  text-align: center;
}
.heading-center {
  text-align: center;
}
.school-history {
  float: left;
}
.school-programs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.school-background {
  padding: 30px;
  border: 5px solid hotpink;
  margin-top: 20px;
}
.program {
  padding-right: 150px;
}
/* Testimonal Section */

#testimonial {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: whitesmoke;
}
.testimonial-message {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.testimonal-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
