body {
  box-sizing: border-box;
}
#header-section {
  height: 100vh;
  border: 10px solid hotpink;
}
.navbar-brand {
  color: #fff;
}
.nav-link {
  color: #fff;
}
.header-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
